/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #f06, #ffdd00);
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 20px;
    color: #444;
    margin: 15px 0;
    font-weight: 500;
}

/* Secciones */
section {
    margin: 20px 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Input y Botones de Inicio */
#paraulaSecreta {
    background-color: #FFF;
    border: 2px solid #555;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    color: #333;
    width: 280px;
    text-align: center;
    margin-right: 10px;
}

#paraulaSecreta:focus {
    border-color: #f06;
    outline: none;
}

/* Botón Ojo */
#buttonull {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    transition: color 0.3s;
}

#buttonull:hover {
    color: #f06;
}

/* Botón Començar Partida */
#buttonstart {
    background-color: #f06;
    border: 2px solid #ffdd00;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

#buttonstart:hover {
    background-color: #ffdd00;
    color: #333;
}

#buttonstart:disabled {
    background-color: rgba(240, 96, 96, 0.5);
    border-color: rgba(255, 221, 0, 0.5);
    color: #fff;
}

/* Texto de la Palabra Actual */
.paraula_secreta {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    letter-spacing: 0px;
    transition: letter-spacing 0.5s ease-in-out;
}


/* Botones de Letras */
button[id^="boto"] {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 12px;
    border-radius: 5px;
    margin: 4px;
    transition: all 0.3s;
}

/* Botón Habilitado */
.boto-habilitat {
    color: #333;
    border: 2px solid #333;
    background-color: #fff;
    cursor: pointer;
}

.boto-habilitat:hover {
    background-color: #ffdd00;
    color: #333;
    border-color: #f06;
}

/* Botón Deshabilitado */
.boto-deshabilitat {
    color: rgba(240, 96, 96, 0.7);
    border: 2px solid rgba(240, 96, 96, 0.7);
    background-color: rgba(255, 255, 255, 0.7);
}

/* Botón Seleccionado */
.boto-seleccionat {
    color: #f06;
    border: 2px solid #f06;
    background-color: rgba(240, 96, 96, 0.1);
}

/* Imagen del Ahorcado */
#imatge {
    width: 200px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

/* Puntuaciones */
#puntsActuals, #totalPartides, #partidesGuanyades, #percentatgeGuanyades, #millorPartida {
    font-size: 22px;
    color: #444;
    font-weight: bold;
}

/* Sección de Estadísticas */
section h3 {
    color: #f06;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    margin-top: 15px;
}
